<h1 class="text-center">Word Puzzle</h1>
<br>
<h2>Enter a word or phrase into the form below and click submit. It will take you to a new page that will have a puzzle for another person to solve.</h2>
<div class="text-center">
<form action="/results">
  <div class="form-group">
    <label for="inputString"></label>
    <input id="inputString" name="inputString" class="form-control" type="text">
  </div>
  <button type="submit" id="submitBtn" class="btn">Go!</button>
</form>
</div>
